<div>
  <p>0.259转换后:{{a | currency}}</p>
  <p>1.3495转换后:{{b | currency}}</p>
  <p>0.259转换后CAD:{{a | currency:'CAD'}}</p>
  <p>1.3495转换后CAD:{{b | currency:'CAD'}}</p>
  <p>0.259转换后CAD,Code:{{a | currency:'CAD':'code'}}</p>
  <p>1.3495转换后CAD,Code:{{b | currency:'CAD':'code'}}</p>
  <p>0.259转换后CAD,symbol:{{a | currency:'CAD':'symbol':'5.1-1'}}</p>
  <p>1.3495转换后CAD,symbol:{{b | currency:'CAD':'symbol':'5.1-1'}}</p>
  <p>0.259转换后CAD,symbol:{{a | currency:'CAD':'symbol-narrow':'5.2-2'}}</p>
  <p>1.3495转换后CAD,symbol:{{b | currency:'CAD':'symbol-narrow':'5.2-2'}}</p>
</div>
